.editor {
    min-height: 75vh;
    margin-top: 80px;
}

.tiptap > * + * {
    margin-top: 0.75em;
}

.tiptap ul,
.tiptap ol {
    padding: 0 1rem;
}

.loaderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    min-height: 100vh;
}

.unauthorizedContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    min-height: 100vh;
}


