.container {
    padding-top: 10px;
    margin-top: 40px;
    padding-bottom: 40px;

}

.title {
    margin: 20px 0px;
    text-align: center;
    color: var(--softTextColor);
}

.categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 30px;

}


.category {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    text-transform: capitalize;
    width: 100%;

}

.image {
    width: 156px;
    height: 116px;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    object-fit: cover;

}

.categoryTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 156px;
    height: 40px;
    font-size: 14px;
    color: white;
    font-weight: 500;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;

}

@media screen and (max-width: 1280px) {
    .category{
        width: 90%;
    }


    .categories div {
        width: 33%;
        display: flex;
        justify-content: center;

    }

    .image {
        width: 90%;
        height: 70%;
        border-top-left-radius: 24px;
        border-top-right-radius: 24px;
        object-fit: cover;

    }

    .categoryTitle {
        width: 90%;
    }

    .title {
        font-size: 32px;
    }

}

@media screen and (max-width: 1024px) {


    .image {
        height: 60%;
    }

    .title {
        font-size: 28px;
    }
}

@media screen and (max-width: 768px) {

    .categories div {
        width: 48%;
        height: 120px;
        position: relative;
    }

    .image {
        height: 90%;
        border-radius: 10px;
        width: 220px;
    }

    .title {
        font-size: 24px;
    }

    .categoryTitle {
        width: 220px;
        /*background-color: transparent !important;*/
        position: absolute;
        font-size: 20px;
        font-weight: 800;
        border-radius: 10px;
        height: 90%;
        color: white;
        background-color: rgba(105,105,105,0.5) !important;
        z-index: 99;
    }

    .container {
        border-radius: 10px;
        background-image: var(--categoriesbg);
        background-size: 200% 100%;
        animation: gradientFlow 3s ease-in-out infinite;
    }

    @keyframes gradientFlow {
        0% {
            background-position: 0 0; /* Mulai dari kiri atas */
        }
        100% {
            background-position: 100% 100%; /* Pindah ke kanan bawah */
        }
    }


}

@media screen and (max-width: 640px) {
    .categories div{
        width: 90%;
        height: 72px;
    }

    .categories {
        gap: 10px;
    }
}