.container {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    /*align-items: self-start;*/
    padding: 8px;
    justify-content: space-between;
    border: 1px solid var(--softBg);
    box-shadow: #626262 0px 0px 4px;
}


.blogContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 4px;
}

.imgContainer {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    width: 144px;
    height: 144px;
}

.imgContainer img {
    width: 144px;
    height: 144px;
    object-fit: cover;
}

.textContainer {
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.date {
    color: rgb(128, 128, 128);
}

.category {
    color: crimson;
    font-weight: bold;
}

.cardTitle {
    font-size: 24px;
}

.titleContainer {
    flex: 1;
}

.descriptionContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cardDescription {
    font-size: 20px;
    font-weight: 300;
    color: var(--softTextColor);
}

.readMoreLink a {
    border-bottom: 1px solid var(--softTextColor);
}

.readMoreLink {
    display: flex;
    justify-content: flex-end;
}

@media screen and (max-width: 1280px) {
    .imgContainer {
        /*height: 250px;*/
    }

    .cardTitle {
        font-size: 20px;
    }

    .cardDescription {
        font-size: 14px;
    }
}

@media screen and (max-width: 1024px) {
    /*.imgContainer {*/
    /*    height: 200px;*/
    /*}*/

    .container {
        gap: 5px;
    }

    .cardTitle {
        font-size: 16px;
    }

    .cardDescription {
        font-size: 12px;
    }


}

@media screen and (max-width: 768px) {
    .imgContainer {
        display: none;
    }

}

@media screen and (max-width: 640px) {

}