
:root{
  --bg:white;
  --textColor:black;
  --softBg:#f0f0f0;
  --softTextColor:#626262;
  --footerbg:#e9ebf0;
  --categoriesbg:linear-gradient(to right, #f2f2f2, #d9d9ff);
}

.dark{
  --bg: #1a1a1a;
  --textColor: white;
  --softBg: #333;
  --softTextColor: white;
  --footerbg: #18191a;
  --categoriesbg:linear-gradient(to right, #1b1c1c, #2c2d2e)
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  max-width: 100vw;
  overflow-x: hidden;
  min-width: 320px;
}

a{
  color: inherit;
  text-decoration: none   ;
}


.container {
  min-height: 100vh;
  background-color: var(--bg);
  color: var(--textColor);
}

.wrapper {
  max-width: 1326px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 80px;
  padding-right: 80px;
}

.ql-wrapper {
  font-size: 20px;
}

.ql-container {
  font-size: 28px !important;
}

.quill > .ql-container > .ql-editor.ql-blank::before {
  color: #b3b3b1;
}

@media screen and (max-width: 1280px) {
  .wrapper {
    max-width: 1024px;
  }
}


@media screen and (max-width: 1024px) {
  .wrapper {
    max-width: 768px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    max-width: 640px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media screen and (max-width: 640px) {
  .wrapper {
    max-width: 480px;
  }
}



/*TEXT  EDITOR*/
.ProseMirror > .selection > .selection-border {
  border: none;
}

.ProseMirror:focus {
  outline: none;
}

/* BLOCK CODE */
code {
  font-family: 'Courier New', monospace;
  font-size: 14px;
  color: #333;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  display: block;
  overflow-x: auto;
  margin-right: 30%;
  margin-left: 5%;
  margin-top: 10px;
  border-radius: 10px;
  padding: 32px 8px 10px;
  line-height: 20px;
}

code {
  position: relative;
}

code::before {
  content: "Code Block "; /* Ganti dengan konten yang diinginkan */
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f8f8f8;
  padding: 4px 8px;
  border-bottom: 1px solid #ddd;
  font-size: 12px;
  color: #333;
}

/* Menambahkan gaya untuk kode inline */
code.inline {
  padding: 4px;
  border: 1px solid #ddd;
}
/*!* Code in text *!*/
/*p > code,*/
/*li > code,*/
/*dd > code,*/
/*td > code {*/
/*  background: #ffeff0;*/
/*  word-wrap: break-word;*/
/*  box-decoration-break: clone;*/
/*  padding: .1rem .3rem .2rem;*/
/*  border-radius: .2rem;*/
/*}*/


.tiptap {
  /*border-left: 1px dashed var(--softTextColor);*/
  padding-left: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  /*padding-bottom: 100px;*/
  /*margin-bottom: 200px;*/
  /*margin-top: 20px;*/
  /*border-top: 0.01rem dashed var(--softTextColor);*/
  box-shadow: 0 0 5px 0 var(--softTextColor);
  border-radius: 5px;
  font-family: 'Lora', serif;
}

.tiptap-body .tiptap {
  padding-bottom: 200px;
  margin-top: 10px;
}

.tiptap-body .tiptap h1 {
  text-align: center;
  font-size: 48px;
}

.tiptap h2,
.tiptap h3,
.tiptap h4,
.tiptap h5,
.tiptap h6 {
  color: var(--softTextColor);
  margin-bottom: 8px;
}

.tiptap li {
  margin-left: 30px;
}


.tiptap-sub-title .tiptap {
  margin-top: 10px;

}

.tiptap-title .tiptap {
  text-align: center;
}