.content {
    display: flex;
    gap: 50px;
    margin: 20px 0px;
}

.container {
    min-height: 100vh;
}

@media screen and (max-width: 640px) {
    .content {
        flex-direction: column;
    }

}
