.container {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    /*color: var(--softTextColor);*/
    background-color: var(--footerbg);
    padding: 20px;
    border: none;
    border-radius: 10px;

}

.info {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.icons {
    display: flex;
    gap: 10px;
}

.links{
    flex: 1;
    display: flex;
    justify-content: space-around;
    gap: 60px;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.listTitle {
    font-size: 20px;
    font-weight: 500;
}

@media screen and (max-width: 1280px){
    .links {
        font-size: 12px;
    }

    .listTitle {
        font-size: 16px;
    }

    .logoText {
        font-size: 24px;
    }

    .links {
        gap: 45px;
    }

}

@media screen and (max-width: 1024px){
    .links {
        font-size: 10px;
    }

    .listTitle {
        font-size: 14px;
    }

    .logoText {
        font-size: 20px;
    }

    .description {
        font-size: 12px;
    }

    .container {
        padding: 10px;
    }

    .info {
        gap: 5px;
    }
    .list {
        gap: 3px;
    }

    .links {
        gap: 30px;
    }

}

@media screen and (max-width: 640px){
    .links {
        font-size: 10px;
    }

    .listTitle {
        font-size: 12px;
    }

    .logoText {
        font-size: 16px;
    }

    .description {
        font-size: 10px;
    }

    .container {
        padding: 10px;
    }

    .info {
        gap: 3px;
    }
    .list {
        gap: 2px;
    }

    .links {
        gap: 20px;
    }

    .icons {
        display: none;
    }

    .info {
        flex: 2;

    }

    .links {
        flex: 4;
    }

}


