.outerBorder {
    @apply rounded-full p-[2px] border-[1px] border-solid flex justify-center items-center;
}

.container {
    @apply object-fill flex justify-center items-center p-[0.5px] rounded-full;
    cursor: pointer;
    box-shadow: #0D0D0D;
}

.light {
    @apply bg-black;
}

.dark {
    @apply bg-white;
}

.image:hover {
    width: 20px;
    height: 20px;
    /*-webkit-animation: rotate 2s normal linear infinite;*/
    /*animation: rotate 2s normal linear infinite;*/
}

@keyframes rotate {
    0% {
        -webkit-transform: rotate3d(0, 0, 1, 0deg);
        transform: rotate3d(0, 0, 1, 0deg);
    }
    25% {
        -webkit-transform: rotate3d(0, 0, 1, 90deg);
        transform: rotate3d(0, 0, 1, 90deg);
    }
    50% {
        -webkit-transform: rotate3d(0, 0, 1, 180deg);
        transform: rotate3d(0, 0, 1, 180deg);
    }
    75% {
        -webkit-transform: rotate3d(0, 0, 1, 270deg);
        transform: rotate3d(0, 0, 1, 270deg);
    }
    100% {
        -webkit-transform: rotate3d(0, 0, 1, 360deg);
        transform: rotate3d(0, 0, 1, 360deg);
    }
}
